.C_destino{
    width: 589px;
    height: 566px;
    box-shadow: 1px 3px 15px #B30F3B29;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.5);
    margin-left: 77px;
    z-index: 10;
    position: absolute;
    top: 160px;
}
.C_destino input{
    width: 534px;
    height: 47px;
    border-radius: 24px;
    margin-left: 23px;
    box-shadow: 3px 3px 6px #00000029;
}

.cdestino-p{
    letter-spacing: 0;
    color: #0C6980;
    opacity: 1;
    font-size: 23px;
    margin-left: 28px;
    margin-bottom: 32px;
}

#sub-cdestino{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 23px;
}

.sub-cdestino1{
    width: 160px;
    height: 82px;
    box-shadow:  3px 3px 6px #00000029;
    border-radius: 15px;
    display: grid;
    grid-template-columns: 80px 80px;
    background-color: white;
    overflow: hidden;
}

.sub-c-1{
    height: 82px;
    text-align: center;
}

.p1{
    font-size: 11px;
}
.sub-c-1 img{
    width: 40px;
    height: 40px;
    margin-top: 10px;
    margin-bottom: -10px;
}

#sub-cdestino2{
    margin-left: 23px;
    width: 534px;
    height: 86px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-content: space-between;
}

.sub-c-2{
    width: 110px;
    height: 86px;
    text-align: center;
    box-shadow:  3px 3px 6px #00000029;
    border-radius: 15px;
    background-color: white; 
    margin-right: 32px; 
}

.sub-c-2:hover{
    border : solid 3px #00FFFF;
}

.sub-c-2 img{
    width: 40px;
    height: 40px;
    margin-top: 10px;
    margin-bottom: -13px;
}

#sub-cdestino3{
    width: 534px;
    margin-left: 23px;
    margin-right: 27px;
    margin-top: 20px;

}

#b-buscar{
    width: 100px;
    height: 48px;
    background-color: #2EB5E0;
    border-radius: 10px;
    box-shadow: 3px 3px 6px #00000029;
    border: 1px solid #707070;
    float: right;
    text-align: center;
}

#b-buscar p{
    margin-top:13px;
    color: white;
}



.imgcdestino img{
    width: 80px;
    height: 82px;
}

