#footer-c{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
    background-color: #2EB5E0;
    text-align: center;
}
#redes{
    text-align: center;
    margin: auto;
}

.footer-img{
    margin-right: 13px;
    margin-left: 13px;
}

#footer-mv{
    text-align: left;

}

#footer-mv h2{
    color: white;
    margin-left: 40px;
}

#footer-mv p{
    color: gray;
    margin-left: 40px;
}